<h2>Activity Signup</h2>

<%= form_for @camper_activity do |f| %>
    <% if flash[:camper_activity_errors] %>
        <% flash[:camper_activity_errors].each do |error| %>
            <%= error %>
        <% end %>
    <% end %>

    <p><%= f.label :camper_id %>
    <%= f.collection_select :camper_id, @campers, :id, :name %></p>
    <p><%= f.label :activity_id %>
    <%= f.collection_select :activity_id, @activities, :id, :name %></p>
    <p><%= f.label :signup %>
    <%= f.number_field :signup %></p>
    
    <p><%= f.submit %>
<% end %>